@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
:root {
    font-size: 62.5%;
    /* font-family: ; */
    --color-principal: #099D8D;
    --color-secundario: #14D9C4;
    --color-gris-oscuro: #54585a;
    --color-gris-claro: #b8b8b9;
    --color-gris-fondo: #f1f1f1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 15px;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    
}

.header-title {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-principal);
    opacity: 0.9;
    padding-top: 15px;
    color: white;
}
.header-nav {
   width: 100%;
}
.header-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    background-color: var(--color-secundario);
    opacity: 0.9;
    height: 45px;
    align-items: center;  
    
}

.header-menu .menu-links {
    width: 100%;
    background-color: var(--color-secundario);
    color: white;
    border: none;
    text-transform: uppercase;
    text-align: center;
    
}
.hero {
    height: 421px;
    border: 5px solid black;
    background: url(https://github.com/Adalab/project-promo-q-module-1-team-3/blob/main/images/image-hero.jpg?raw=true);
    background-size: cover;
    background-repeat: repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-title {
    background-color: var(--color-gris-fondo);
    padding: 15px;
    position: relative;
    transform: translate(0%, 50%);
    text-align: center;
}
.team {
    margin-top: 20px;
    padding: 15px;
}
.team-title {
    color: var(--color-principal);
    text-align: center;
    padding: 30px 15px 15px 15px;
    text-transform: uppercase;
}
.team-text {
    color: var(--color-gris-oscuro);
    text-align: center;
    padding: 0px 15px 30px 15px;
}
.fortalezas, .debilidades {
    background-color: var(--color-gris-fondo)
}
.fortalezas-title, .debilidades-title {
    color: var(--color-principal);
    text-align: center;
    padding: 30px 15px 0px 15px;
}
.fortalezas-text, .debilidades-text {
    color: var(--color-gris-oscuro);
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.quienes-somos {
    text-align: center;
    padding: 0px 15px 0px 15px;
}

ul {
    list-style: none;
}

.quienes-somos-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.img-list-item {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
}

.quienes-somos-title {
    margin: 30px 0;
}


.container {
    padding: 15px;
}

.container2 {
    display: flex;
    justify-content: center;
}

.container2 img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}
.copiright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

