:root {
    --color-principal: #099d8d;
    --color-secundario: #14d9c4;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    
}
h1 {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-principal);
    opacity: 0.9;
    padding-top: 10px;
    color: white;
}

.menu-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around; 
    background-color: var(--color-secundario);
    opacity: 0.9;
    height: 45px;
    align-items: center;
}

.li {
    display: flex;
    
}

a {
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
}