<li class="list-item">
    <img class="img-list-item" src="@@imagen" alt="Retrato de @@title" title="Retrato de @@title"/>
    <h4 class="name">@@title</h4>
    <p class="text-item">
        @@text
    </p>
    <div class="rrss">

        <a href="@@twitter" title="Twitter" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i> </a>
        <a href="@@linkedin" title="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        <a href="@@github" title="GitHub" target="_blank"><i class="fa-brands fa-github-square fa-2x"></i></a>
        <a href="@@mail" title="E-Mail" target="_blank"><i class="fa-solid fa-envelope fa-2x"></i></i></a>

    </div>
</li>