<section id="team" class="team">
    <div class="container">
        <h2 class="team-title">Equipo</h2>
        <p class="team-text">
            TECNOCATS nace desde el primer día que nos conocimos en el Bootcamp de Programación Web de Adalab y
            decidimos
            que en otra vida nos encantaría ser un gato, pero que en esta vida seríamos programadoras web.
        </p>
        <p class="team-text">
            Trabajamos muy bien en equipo, tomando así todas las decisiones de nuestro proyecto. Cada una aporta los
            conocimientos adquiridos, gracias al Bootcamp de Adalab, compaginándonos y haciendo que este proyecto salga
            adelante.
        </p>
    </div>
</section>
<section>
    <section class="fortalezas">
        <div class="container">
            <h3 class="fortalezas-title">Fortalezas</h3>
            <p class="fortalezas-text">
                Todas estamos de acuerdo que, desde el principio, hemos congeniado muy bien, no sólo de cara al trabajo
                en
                equipo, sino también de manera personal. Esto nos permite que tengamos una comunicación impecable y nos
                facilita la tediosa tarea de tomar decisiones.
            </p>
        </div>
    </section>
    <section class="debilidades">
        <div class="container">
            <h3 class="debilidades-title">Debilidades</h3>
            <p class="debilidades-text">
                Tenemos claro que una de nuestras mayores debilidades es que Git nos odia particularmente. Pero bromas
                aparte, nuestra flaqueza está en nuestros pocos conocimientos sobre programación, que, gracias a este
                bootcamp, aprendemos a hacer algo nuevo cada día. Esto hace que se convierta una gran oportunidad para crecer como
                profesionales y nos permitirá poder explotar al máximo los contenidos de este curso.
            </p>
        </div>
    </section>
</section>