<header class="header" id="header">
  <h1 class="header-title"><a href="./index.html#header"> Tecnocats</a></h1>
  <nav class="header-nav">
    <ul class="header-menu">
      <li>
        <a class="menu-links" href="./index.html#team">Equipo</a>
      </li>
      <li>
        <a class="menu-links" href="./index.html#quienes-somos"
          >Quienes somos</a
        >
      </li>
      <li>
        <a class="menu-links" href="./contacto.html">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
