<section id="quienes-somos" class="quienes-somos">
    <div class="container">
        <h2 class="quienes-somos-title">Quiénes somos</h2>
        <ul class="quienes-somos-list">
            <li class="list-item"> 
                <include src="./aboutus.html" 
                    title="Julia Fernández" 
                    text="Chica de letras convencida, creo firmemente que las humanidades son tan importantes precisamente porque nos hacen entender aquello que nos hace humanos. Curiosa e inquieta, la oportunidad de aprender algo totalmente nuevo para mí me trajo hasta aquí, aunque creo que también tuvo algo que ver mi amor irracional por la película Matrix." 
                    imagen="./assets/images/retrato-julia.JPG"
                    twitter="#"
                    linkedin="https://www.linkedin.com/in/julia-fern%C3%A1ndez-garc%C3%ADa/" 
                    github="#" 
                    mail="#">
                </include>
            </li>

            <li class="list-item"> 
                <include src="./aboutus.html" 
                    title="María Luisa Lufrano"
                    text="Soy una potterhead y mi personaje favorito es Hermione. Me gusta mucho aprender cosas nuevas y estoy aqui dandolo todo con el git 👩🏻‍💻. Y como dijo ALBUS DUMBLEDORE:  No son las habilidades lo que demuestra lo que somos, son nuestras decisiones; asi que vamos a por todo!"
                    imagen="./assets/images/fotoML.jpg"
                    twitter="https://twitter.com/MariaLuisa_04"
                    linkedin="https://www.linkedin.com/in/marialuisalufrano/" 
                    github="https://github.com/MLLuisa"
                    mail="marialuisa.lufrano@gmail.com" >
                </include>
            </li>


            <li class="list-item"> 
                <include src="./aboutus.html" 
                    title="Nadia Monzón"
                    text="Madre de una peluda, amante de los documentales, del senderismo y de salir a comer. Estoy concienciada de la importancia de las siestas entre semana y abogo por la defensa de las mismas. Por otra parte, estoy en contra de las injusticias, de los abusos de poder y de cualquier manifestación de la xenofobia. ¡Un placer!."
                    imagen="./assets/images/foto-tecnocats-nadia.jpeg"
                    twitter="#"
                    linkedin="https://www.linkedin.com/in/nadia-monzón-quesada-2009091b9/" 
                    github="https://github.com/NadiaMonzon"
                    mail="nadiamonque99@gmail.com" >
                </include>
            </li>
            
            <li class="list-item"> 
                <include src="./aboutus.html" 
                    title="Olga Rodríguez"
                    text="Nacida en mi bella Sanlúcar de Barrameda, residiendo en el norte de Madrid. Estudié Arquitectura Técnica, pero siempre me apasionó mucho más el mundo de la tecnología y la informática. Es por ello que actualmente soy Adalaber en Programación Web."
                    imagen="./assets/images/Retrato-Olga.jpg"
                    twitter="https://twitter.com/home"
                    linkedin="https://www.linkedin.com/in/olga-rodriguez-garrucho-231152212?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BNxKeuXekSe6YNcjq%2Byj6EQ%3D%3D" 
                    github="https://github.com/olguita2412"
                    mail="olga_1847@hotmail.com" >
                </include>
            </li>

            <li class="list-item"> 
                <include src="./aboutus.html" 
                    title="Victoria Varona"
                    text="Soy nacida en Venezuela residiendo en Madrid, licenciada en artes, mención Diseño Gráfico, he trabajado como diseñadora desde 2019 en marketing digital, tanto estático como animado, diseños de empaques y catálogos de productos. Me apasiona aprender y desarrollar nuevas habilidades, por lo que, ahora, estoy aprendiendo maquetación y programación web para complementar mi perfil laboral."
                    imagen="./assets/images/foto-victoria-varona.jpeg"
                    twitter="https://twitter.com/vvaronadc"
                    linkedin="https://www.linkedin.com/in/vvaronad" 
                    github="https://github.com/vvarona"
                    mail="vvaronad@gmail.com" >
                </include>
            </li>
        </ul>
    </div>
</section>