<section id="team" class="team">
    <div class="container">
        <h2 class="team-title">Equipo</h2>
        <p class="team-text">
            TECNOCATS nace desde el primer día que nos conocimos en el Bootcamp de Programación Web de Adalab y
            decidimos
            que en otra vida nos encantaría ser un gato, pero que en esta vida seríamos programadoras web.
        </p>
        <p class="team-text">
            Trabajamos muy bien en equipo, tomando así todas las decisiones de nuestro proyecto. Cada una aporta los
            conocimientos adquiridos, gracias al Bootcamp de Adalab, compaginándonos y haciendo que este proyecto salga
            adelante.
        </p>
    </div>
</section>
<section>
    <include src="./text-section.html" title="Fortalezas" text="Todas estamos de acuerdo que, desde el principio, hemos congeniado muy bien, no sólo de cara al trabajo
    en
    equipo, sino también de manera personal. Esto nos permite que tengamos una comunicación impecable y nos
    facilita la tediosa tarea de tomar decisiones."></include>
    <include src="./text-section.html" title="Debilidades" text="Tenemos claro que una de nuestras mayores debilidades es que Git nos odia particularmente. Pero bromas
    aparte, nuestra flaqueza está en nuestros conocimientos sobre programación, que, al estar empezando este
    bootcamp, cada día aprendemos a hacer algo nuevo. A su vez, es nuestra oportunidad para crecer como
    profesionales y explotar al máximo los contenidos de este curso."></include>

</section>