.footer {
  border-top: solid 1px $color-gris-claro;
  @media all and (min-width: 768px) {
    margin-top: 60px;
  } 
  @media all and (min-width: 1200px) {
    margin-top: 120px;
  } 
}
.copyright {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: $color-gris-claro;
  @media all and (min-width: 768px) {
    padding-bottom: 15px;
  } 
}

.list-footer-menu {
  text-align: center;
  line-height: 3.0rem;
  font-size: 1.4rem;
  color: $color-gris-oscuro;
  opacity: 0.75;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  
}

.footer-links {
  text-decoration: none;
  color: $color-gris-oscuro;
}

.logo-footer {
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    justify-content: left;
    padding: 0px 30px;
   

  }
}

.logo-footer img {
  width: 115.9px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  @media all and (min-width: 768px) {
    margin-bottom: 30px;
    padding-top: 15px;
    position: absolute;
    transform: translateY(-60px);
      } 
  
}

.footer-menu {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  @media all and (min-width: 768px) {
    padding-top: 25px;
  } 
  
}

.footer-items {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 30px;
  }
}
