.hero {
    height: 421px;
    border: 5px solid black;
    background: url(https://github.com/Adalab/project-promo-q-module-1-team-3/blob/main/src/images/image-hero.jpg?raw=true);
    background-size: cover;
    background-repeat: repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__contact {
        background: url(https://github.com/Adalab/project-promo-q-module-1-team-3/blob/main/src/images/image-hero.jpg?raw=true);
        height: 421px;
        border: 5px solid black;
        background-size: cover;
        background-repeat: repeat;
        background-position: left;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.herotitle {
    background-color: $color-gris-fondo;
    padding: 15px;
    position: relative;
    transform: translate(0%, 50%);
    text-align: center;
    font-size: 1.8rem;
    @media all and (min-width: 768px) {
        width: 441px;
        padding: 15px 30px;
        transform: translate(-45%, 50%);
        margin-left: 10px;
        
    }
    &__contact {
        display: none;
    }
}
